@model IPagedList<InterviewTask.EntityFramework.Entities.CrawlingResult>
@{
    ViewData["Title"] = "Info";
    int i = 1;
}

<table border="1" class="bg-light">
    <tr class="text-center">
        <th>№</th>
        <th>Url</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center" width=50>@(Model.PageSize * (Model.PageNumber - 1) + i++)</td>
            <td width=1200>@item.Url</td>
        </tr>
    }

</table>

@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetCrawlingResultsLinkByFlag", new { page }), X.PagedList.Web.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)