@model ResultPagination<InterviewTask.EntityFramework.Entities.Test>
@{
    ViewData["Title"] = "TestInfo";
}

@await Html.PartialAsync("/Views/Crawler/Input.cshtml")

@if (ViewData["message"] != null)
{
    <ul>
        <li>
            @ViewData["message"]
        </li>
    </ul>
}

<div class="table-responsive" style="padding: 120px 0px 100px 0px;">
    <table border="1" class="bg-light | table">
        <thead>
            <tr class="text-center">
                <th>Base url</th>
                <th>Parsing date</th>
                <th>List all links</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td width=300>@item.BaseUrl</td>
                    <td width=200>@item.ParsingDate</td>
                    <td class="text-center" width=150>
                        @Html.ActionLink("Details", "GetCrawlingResults", "Result", new { id = item.Id }, new { @class = "btn | btn-outline-dark" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="custom-control">
        <h4>
            @if (Model.CurrentPage > 1)
            {
                @Html.ActionLink("prev", "GetTest", "Result", new { page = Model.CurrentPage - 1 }, new { @class = "btn | btn-outline-secondary" })
            }

            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                if (i == Model.CurrentPage)
                {
                    @Html.ActionLink(i.ToString(), "GetTest", "Result", new { page = i }, new { @class = "btn | btn-outline-success" })
                }
                else
                {
                    @Html.ActionLink(i.ToString(), "GetTest", "Result", new { page = i }, new { @class = "btn | btn-outline-secondary" })
                }
            }

            @if (Model.CurrentPage < Model.TotalPage)
            {
                @Html.ActionLink("next", "GetTest", "Result", new { page = Model.CurrentPage + 1 }, new { @class = "btn | btn-outline-secondary" })
            }

        </h4>
    </div>
</div>